
@font-face {
    font-family: 'font_1';
    font-weight: bold;
    src: url('/wp-content/plugins/wp-tagcloud/public/fonts/Asap-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'font_1';
    font-weight: normal;
    src: url('/wp-content/plugins/wp-tagcloud/public/fonts/Asap-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'font_2';
    font-weight: bold;
    src: url('/wp-content/plugins/wp-tagcloud/public/fonts/custom_fc0.ttf') format('truetype');
}
@font-face {
    font-family: 'font_2b';
    font-weight: normal;
    src: url('/wp-content/plugins/wp-tagcloud/public/fonts/custom_fc0b.ttf') format('truetype');
}
@font-face {
    font-family: 'font_3';
    font-weight: bold;
    src: url('/wp-content/plugins/wp-tagcloud/public/fonts/Exo-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'font_3';
    font-weight: normal;
    src: url('/wp-content/plugins/wp-tagcloud/public/fonts/Exo-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'font_4';
    src: url('/wp-content/plugins/wp-tagcloud/public/fonts/Gudea-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'font_5';
    src: url('/wp-content/plugins/wp-tagcloud/public/fonts/Magra-Bold.ttf') format('truetype');
}
#tag-submit{
    float: right;
    padding: 0;
    margin-top: 20px;
    width: 120px;
    height: 50px;
    line-height: 50px;
    font-weight: normal;
    background-color: #009cde;
    display: none;
}
#tag-submit:hover{
    background-color: #008ccd;
}
#tag-submit.submit-show{
    display: block;
}
#tag-paypal-button{
    position: relative;
    z-index: 1;
    float: left;
    margin-top: 30px;
}
#tag-paypal-button.paypal-show{
    display: block;
}
#price{
    float: right;
    position: relative;
    z-index: 2;
    margin-top: 20px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-weight: 600;
    background-color: #009cde;
}


#sold_count{
    /*margin: 0 auto;
    max-width: 320px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #222;
    font-weight: 600;*/
}



#register_tag {
    margin: 0 auto;
    max-width: 400px;
    border: 1px solid #ced4da;
}
#register_tag h1{
    padding: 20px 0;
    text-align: center;
    background-color: #009cde;
    font-size: 120%;
    font-weight: 600;
    color: #fff;
}
#register_tag .form-group {
    position: relative;
}
#register_tag .form-input {
    padding: 20px 40px 30px 40px;
}
#register_tag.was-validated .form-control:invalid {
    border: 1px solid red;
}
#register_tag .invalid {
    border-bottom: 1px solid red;
}
#register_tag.was-validated .form-control:invalid~.invalid-feedback {
    display: block;
}
@media screen and (max-width: 30em) {
    #register_tag {
        border: none;
    }
    #register_tag .form-input {
        padding: 5px 0 30px 0;
    }
}
#register_tag .invalid-feedback {
    display: none;
    margin-top: 10px;
    font-size: 80%;
    color: #dc3545;
}
#register_tag .form-control:invalid~.invalid-tooltip {
    display: block;
}

#register_tag #swatch-container{
    float: right;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
}
#register_tag #font_colour{
    display: none;
}
#register_tag #swatch-container .swatch-outer {
    margin-top: 20px;
    flex: 1 1;
    padding: 5px;
}
#register_tag #swatch-container .swatch-outer div{
    height: 100%;
    cursor: pointer;
}
#register_tag #swatch-container .swatch-outer div:before{
    content: "";
    display: block;
    padding-top: 100%;
}
#register_tag.form-hide{
    display: none;
}
#register_tag #check_bold_label{
    float: left;
    margin: 20px 0 0 .7em;
    color: #333;
    font-weight: normal;
}
#register_tag #font-options input{
    /*-webkit-appearance: none;*/
}
#register_tag #font-options select{
    float: left;
    width: calc(75% - 10px);
    -webkit-appearance: none;
}
#register_tag #font-options select:last-child{
    float: right;
}
#register_tag input, #register_tag select{
    margin-top: 20px;
    border-color: transparent;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
}
#register_tag select{
    padding: 10px;
    height: 50px;
}
#register_tag input, #register_tag select{
    /*border-radius: 0!important;*
}
#register_tag th, #register_tag td{
    padding-left: 0;
    border: none;0
    color: #888;
}
.post-count{
    /*padding: 0 1.25em;
    color: #767676;
    font-weight: 600;*/
}
.input-slogan-count{
    position: absolute;
    top: .7em;
    right: .7em;
    z-index: 3;
    line-height: 1.5;
    color: #aaa;
    background-color: #fff;
}
.tag_preview {
    /*display: none;*/
}
#tag{
    padding-right: 2em;
}

/*#wp_cloud{
    column-count: 8;
    column-gap: 6px;
}*/
#wp_cloud{
    visibility: hidden;
    position: relative;
    font-family: sans-serif;
}
#wp_cloud a{
    text-decoration: underline;
}

.tag{
    position: absolute;
    max-width: 256px;
    overflow: hidden;
    white-space: nowrap;
    padding: 2px 4px;
    line-height: 1;
    vertical-align: middle;
    font-family: font_2;
}

/*.tag{
    display: inline-block;
    margin: 3px 0;
    padding: .5em;
    width: calc(100%);
    text-align: center;
    box-sizing: border-box;
    border: 1px solid;
    line-height: 1.2;
}
.tag.tag-preview{
    margin: 0;
}
@media screen and (max-width: 1980px) {
    #wp_cloud{
        column-count: 7;
    }
}
@media screen and (max-width: 1720px) {
    #wp_cloud{
        column-count: 6;
    }
}
@media screen and (max-width: 1460px) {
    #wp_cloud{
        column-count: 5;
    }
}
@media screen and (max-width: 1200px) {
    #wp_cloud{
        column-count: 5;
    }
}
@media screen and (max-width: 940px) {
    #wp_cloud{
        column-count: 3;
    }
}
@media screen and (max-width: 680px) {
    #wp_cloud{
        column-count: 2;
    }
}
@media screen and (max-width: 420px) {
    #wp_cloud{
        column-count: 1;
    }
}*/


.tag_preview {
    color: #007bff;
}
#slogan-preview {
    clear: both;
    padding-top: 20px;
}
.tag_font_1 {
    /*font-family: 'font_1';*/
}
.tag_font_2 {
    /*font-family: 'font_2';*/
}
.tag_font_3 {
    /*font-family: 'font_3';*/
}
.tag_font_4 {
    /*font-family: 'font_4';*/
}
.tag_font_5 {
    /*font-family: 'font_5';*/
}

.tag_font_bold {
    font-family: 'font_2b';
    font-weight: 600;
}

.tag_font_size_0 {
    font-size: 14px
}
.tag_font_size_1 {
    font-size: 16px
}
.tag_font_size_2 {
    font-size: 18px
}
.tag_font_size_3 {
    font-size: 20px
}
.tag_font_size_4 {
    font-size: 22px
}
.tag_font_size_5 {
    /*font-size: 32px*/
    font-size: 22px;
}

.tag_font_colour_0{
    color: #19B5FE;
}
.tag_font_colour_1 {
    color: #FFB61E;
}
.tag_font_colour_2 {
    color: #87D37C;
}
.tag_font_colour_3 {
    color: #8E44AD;
}
.tag_font_colour_4 {
    color: #DB5A6B;
}
.tag_font_colour_5 {
    color: #6B5B95;
}
/*these need to match tag_font_colours exactly*/
.tag_font_bg_0 {
    background-color: #19B5FE;
}
.tag_font_bg_1 {
    background-color: #FFB61E;
}
.tag_font_bg_2 {
    background-color: #87D37C;
}
.tag_font_bg_3 {
    background-color: #8E44AD;
}
.tag_font_bg_4 {
    background-color: #DB5A6B;
}
.tag_font_bg_5 {
    background-color: #6B5B95;
}


.random_c_0{
    color: #B14156;
}
.random_c_1{
    color: #EE7B58;
}
.random_c_2{
    color: #FFD079;
}
.random_c_3{
    color: #A0F072;
}
.random_c_4{
    color: #38B86E;
}
.random_c_5{
    color: #29366F;
}
.random_c_6{
    color: #405BD0;
}
.random_c_7{
    color: #4FA4F7;
}


.container{
    color: #4ea9e6;
    text-align: center;
}

.form_registration .control-label{
    color: #888;
}
input[type="color"].custom{
    padding: 0;
    border: none;
    height: 50px;
    width: 50px;
    vertical-align: middle;
}
.input-group-text{
    color: #007bff;
}

#options-premium.options-hide{
    display: none;
}

.slogan-click{
    float: right;
    padding-right: 1em;
    padding-bottom: .5em;
    text-align: right;
}

