/*
 Theme Name:   Twenty Seventeen Child Theme
 description: >-
   A child theme of the Twenty Seventeen default WordPress theme
 Author:       ''
 Template:     twentyseventeen
 Version:      1.0.0
*/

.site-info {
    display : none;
}
.menu-toggle{
    float: left;
    padding-left: 2em;
}
.menu-main_nav-container{
    clear: both;
}
.entry-content {
    float: none!important;
    width: auto!important;
}
.footer-widget-1 {
    margin-bottom: 1em;
    padding: 0.7em 0 0;
    font-size: 0.875rem;
    
}

.site-header {
    background-color: transparent;
    position: relative;
}
.site-title, .site-title a {
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    font-size: 50px;
    font-weight: 400;
    color: #007bff;
}
.custom-header{
    float: left;
}
.custom-header{
    position: absolute;
    top: 0;
    left: 0;
}
.navigation-top {
    position: static!important;
    float: right;
    margin-top: 20px;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    color: #666;
}

.menu-toggle {
    float: right;
    margin-right: 1em;
    padding-right: 2em;
}
.menu-toggle {
    float: right;
    box-sizing: content-box;
    padding: 15px 10px;
    width: 25px;
    height: 20px;
    cursor: pointer;
    position: relative;
    text-indent: -999em;
}
.menu-toggle:before {
    content: '';
    position: absolute;
    left: 12px;
    top: 17px;
    width: 20px;
    height: 3px;
    background-color: #777;
    box-shadow: 0 6px 0 0 #777, 0 12px 0 0 #777;
}
.menu-toggle svg{
    display: none!important;
}
.menu-toggle:focus {
    outline: none;
}
.site-header{
    min-height: 120px;
}
@media screen and (max-width: 48em) {
    .navigation-top {
        width: 100%;
    }
    .menu-toggle {
        margin-bottom: 40px
    }
}
@media screen and (max-width: 30em) {
    .site-header{
        min-height: 40px;
    }
    .menu-toggle {
        margin-top: -5px;
        margin-bottom: 20px
    }
}
.navigation-top {
    /*background-color: #19B5FE;*/
}
.navigation-top a {
    /*color: #fff;*/
}

.site-content {
    padding: 0;
}

@media screen and (max-width: 30em) {
/* i'm not sure i like ems for break points, but that's what they've used in the theme,
 * so might as well be consistent */
    .site-title, .site-title a {
        font-size: 40px;
    }
}
@media screen and (min-width: 30em) {
    .site-branding {
        padding: 1em 0;
    }
}
@media screen and (min-width: 48em) {
    .main-navigation a {
        padding: 0 1.25em;
    }
    .wrap.wrap-full {
        max-width: 100%;
    }
}